/*   1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*     2. Remove default margin   */
  * {
    margin: 0;
  }
  /*     Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*     5. Improve media defaults  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*    6. Remove built-in form typography styles  */
  input, button, textarea, select {
    font: inherit;
  }
  /*    7. Avoid text overflows  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*    8. Create a root stacking context  */
  #root, #__next {
    isolation: isolate;
  }

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/***************************************************************/

header {
    width: 80%;
    margin: 45px auto;
    display: flex;
    /* border: 2px solid lightcoral; */
    justify-content: space-between;
    padding: 10px 0;
    color: #310E0E;
    /* flex: 1; */
}

.logo {
    font-size: 23px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}
.menu ul {
    display: flex;
    list-style-type: none;
    flex-basis: 400px;
    gap: 40px;
    /* border: 2px solid lightgreen; */
    justify-content: space-around;
    font-size: 23px;
    font-family: "Poppins", sans-serif;
}

.btn-login {
    flex-basis: 125px;
    /* border: 2px solid #828282; */
    border-radius: 100px;
    background-color: white;
    color: #140000;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/*********************/

body {
    max-width: 1200px;
    /* width: 90%; */
    /* margin: 0 auto; */
}

h1 {
    width: 65%;
    margin: 45px auto;
    text-align: center;
}

.center {
    width: 80%;
    margin: 40px auto;
}

.card-container {
    /* border: 2px solid lightgreen; */
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
}

.card {
    flex-basis: 346px;
    /* border: 2px solid lightgreen; */
    height: 360px;
    /* background-color: lightcoral; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.img {
    width: 209px;
    height: 209px;
}

.btn-visit {
    padding: 2px 25px ;
    /* flex-basis: 123px; */
    border-radius: 41px;
    color: white;
    background-color: #665E40;

    box-shadow: 9px 9px 16.8px 0px #233E6054;
    font-size: 13px;
    /* font-family: "Poppins", sans-serif; */
    font-weight: 700;

    font-family: Inter;
    line-height: 15.73px;
    text-align: center;

}

.card p {
    text-align: center;
    margin-inline: 15px;
    /* border: 2px solid black; */
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: center;

}

.card1 {
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #00E0FF3D;

}

.card2 {
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #FFC7005E;


}

.card3 {
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #FF7A0078;


}

.card4 {
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #42FF005E;


}

h3 {
    font-family: Inter;
    font-size: 28px;
    font-weight: 700;
    line-height: 33.89px;
    text-align: center;
    color: #00000099;



}